language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - nightly
  - hhvm

env:
  global:
    - PATH="$HOME/.composer/vendor/bin:$PATH"

matrix:
  fast_finish: true
  include:
    - php: 5.6
      env: CS_FIXER=run
    - php: 5.4
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 5.6
      env: GUZZLE_VERSION=4.0.*
    - php: 5.6
      env: GUZZLE_VERSION=5.0.*
    - php: 5.6
      env: GUZZLE_VERSION=6.0.*
  allow_failures:
    - php: 7.0
    - php: nightly
    - php: hhvm
    - env: GUZZLE_VERSION="dev-master"

sudo: false

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.composer/vendor

before_script:
  - composer selfupdate
  - composer config -g github-oauth.github.com $GITHUB_OAUTH_TOKEN
  - composer global require phpunit/phpunit fabpot/php-cs-fixer --no-update
  - composer global update --prefer-dist --no-interaction
  - if [ "$GUZZLE_VERSION" != "" ]; then composer require "guzzlehttp/guzzle:${GUZZLE_VERSION}" --no-update; fi;
  - composer update --prefer-dist --no-interaction $COMPOSER_FLAGS

script:
  - if [ "$CS_FIXER" = "run" ]; then make cs_dry_run ; fi;
  - make test
